.main {
    margin-top: 150px;
}
.form-container {
    margin-top: 30px;
    width: 60%;
    margin-left: 20%;
    height: 200px;
}

.form-input {
    width: 80%;
    float: left;
}

.form-button {
    float: left;
    height: 40px;
}

.form-checkbox {
    margin-top: 20px;
    float: left;
    width: 100%;
}

.form-checkbox-group {
    margin-top: 20px;
    float: left;
    width: 100%;
}

.form-checkbox-in {
    width: 18%;
    margin: 0;
    text-align: left;
}

.form-window {
    margin-top: 20px;
    float: left;
    width: 100%;
}

.form-window label {
    margin-right: 20px;
}

.result-container {
    width: 90%;
    margin-left: 5%;
    margin-top: 60px;
}